<app-title titleText="Defer Triggers" textPink />

<section class="grid grid-cols-1">

    <h1 class="text-xl">Direct Interaction</h1>
    <hr class="my-2">

    @defer(on interaction){
        <app-heavy-loaders-fast cssClass="bg-red-500 h-20 text-white">
            <b>&#x40;defer(on interaction)</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white" style="cursor: pointer;">
            <b>Click Me!</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on interaction)</i>
        </div>
    }
</section>

<section class="grid grid-cols-1 py-4">
    <h1 class="text-xl">Delegated Interaction</h1>
    <hr class="my-2">

    <button #btnInteraction
        class="p-2 my-2 w-1/3 bg-pink-600 hover:bg-pink-900 transition-all rounded text-white">
        Click to trigger interaction
    </button>

    <hr class="my-2">

    @defer(on interaction(btnInteraction)){
        <app-heavy-loaders-fast cssClass="bg-pink-600 h-20 text-white">
            <b>&#x40;defer(on interaction(elementLocalRefInteraction))</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white" style="cursor: not-allowed;">
            <b>Click the button!</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on interaction(elementLocalRefInteraction))</i>
        </div>
    }
</section>

<section class="grid grid-cols-1 py-4">
    <h1 class="text-xl">Hover</h1>
    <hr class="my-2">

    @defer(on hover()){
        <app-heavy-loaders-fast cssClass="bg-purple-600 h-20 text-white">
            <b>&#x40;defer(on hover())</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white">
            <b>Hover Me!</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on hover())</i>
        </div>
    }
</section>

<section class="grid grid-cols-1">

    <h1 class="text-xl">Immediate</h1>
    <hr class="my-2">

    @defer(on immediate){
        <app-heavy-loaders-fast cssClass="bg-red-500 h-20 text-white">
            <b>&#x40;defer(on immediate)</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white" >
            <b>I'll be quick...</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on immediate)</i>
        </div>
    }
</section>

<section class="grid grid-cols-1 py-4">
    <h1 class="text-xl">Timer Interaction</h1>
    <hr class="my-2">

    @defer(on timer(10000)){
        <app-heavy-loaders-fast cssClass="bg-pink-600 h-20 text-white">
            <b>&#x40;defer(on timer(10000))</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white" style="cursor: not-allowed;">
            <b>Wait for 10 seconds...</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on timer(100000))</i>
        </div>
    }
</section>

<section class="grid grid-cols-1 py-4">
    <h1 class="text-xl">Idle and Hover</h1>
    <hr class="my-2">

    @defer(on hover; prefetch on idle){
        <app-heavy-loaders-fast cssClass="bg-purple-600 h-20 text-white">
            <b>&#x40;defer(on hover; prefetch on idle)</b>
        </app-heavy-loaders-fast>
    } @placeholder {
        <div class="p-4 h-20 w-full bg-gradient-to-tr from-pink-600 to-purple-600 text-white">
            <b>I combine two Triggers</b>
            <br>
            I'm the &#x40;placeholder from <i>&#x40;defer(on hover; prefetch on idle)</i>
        </div>
    }
</section>